{% extends "base.html" %}

{% block content %}
    <center><h1>Изменение пароля</h1></center>
    <form action="" method="post" style="width: 400px; margin: 0 auto;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>
            {{ form.new_password.label }}<br>
            {{ form.new_password(class="form-control", type="password") }}<br>
            {% for error in form.new_password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        
        <script>
            let msg = "{{message}}"
            if (msg.length > 1){
                alert(msg)
            };
        </script>
    </form>
{% endblock %}